body{
    background-color: white;
    font-weight: 700px;
}
.body-container{
 margin:10px 80px 10px 80px;
  height:100%;
}
header{
    display: flex;
    
}
.logo{
    background-color: #e7eff2;
    padding: 5px 10px;
    position:absolute;
    left: 990px;
    border-radius: 10px;
}
.logo p{
    color: #1b2946;
    font-size: 12px;
    text-align: center;
    font-family: 'Barlow';
    text-transform: uppercase;
}
.section1{
    display: flex;
    justify-content: space-between;
}
.bold p{
    font-family: 'Barlow';
    text-transform: uppercase;
    font-size: 70px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color:#162442;
}
.child p{
    font-family: 'Barlow';
    color:#8493b3;
}
.image{
    position: relative;
    top:80px;
    right: 300px;

}
.image img{
    border-radius: 10px;
    height: 370px;
    width: 450px;
}
.small{
    display: flex;
}
.small p{
    font-family: 'Barlow';
    color:#8493b3;
}
.button{
    background-color:#f36718;
    padding: 4px 10px 4px 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    
}
.button p{
    text-align:center;
    text-transform: uppercase;
    font-size: 11px;
    color:white;
}
.release{
    position: relative;
    left: 20px;
}
.release p{
    text-transform: uppercase;
}
.section2{
    margin-top: 30px;
    display: flex;
}
.section2 img{
    border-radius: 10px;
}
.section2 .img2{
    height: 380px;
    width: 300px;
    margin-left: 40px;

}
.section2 .holder{
     background-color: #f36718;
     width:fit-content;
}
.section2 .img1{
    height: 380px;
    width: 180px;
    mix-blend-mode: multiply;
}
.bold2{
    width: 200px;
}
.push{
    position: relative;
    left: 250px;
}
.bold2 p{
    font-family: 'Barlow';
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color:#162442;
}
.child2 p{
    font-family: 'Barlow';
    color:#8493b3;
}
footer{
    position: relative;
    top:60px;
    width: 1050px;
    margin:10px;
    display: flex;
    justify-content: space-between;
}

footer img{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #f36718;
}
.fix2{
    position: relative;
    bottom: 12px;
}
.fix1{
    position: relative;
    top:10px;
}